services:
  backend:
    build: ./backend
    container_name: weather_backend
    ports:
      - "8000:8000"
    networks:
      - weather-net

  frontend:
    build: ./frontend
    container_name: weather_frontend
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_API_URL: "http://backend:8000"
    depends_on:
      - backend
    networks:
      - weather-net

networks:
  weather-net:
    driver: bridge
